apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
      - name: shared-logs
        emptyDir: {}
      containers:
      - name: log-writer
        image: emmanuelben/log-writer:latest
        imagePullPolicy: Never
        volumeMounts:
        - name: shared-logs
          mountPath: /usr/src/app/files
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
      - name: log-reader
        image: emmanuelben/log-reader:latest
        imagePullPolicy: Never
        volumeMounts:
        - name: shared-logs
          mountPath: /usr/src/app/files
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"