apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong

  template:
    
    metadata:
      labels:
        app: pingpong
    spec:
      volumes:
      - name: shared-logs
        persistentVolumeClaim:
            claimName: deployment-pv-claim
      containers:
      - name: pingpong
        image: emmanuelben/pingpong:latest
        imagePullPolicy: Never
        volumeMounts:
        - name: shared-logs
          mountPath: /usr/src/app/files
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"